body {
	font-family: "Arial", "Helvetica", sans-serif;
	font-size: 16pt;
	background-color: AliceBlue;
	color: MidnightBlue;
}

h1 {
	font-size: 24pt;
	color: MidnightBLue;
	border-style: dotted;
	border-color: MidnightBlue;
	border-width: 5px;
}